/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    padding:0px  ;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
     color: #181818; 
    font-size: 45px; 
    font-weight: 800; 
   
    
}

.text-primary {
    color: orangered;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: darkslategray;
}



/*common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: orangered;
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color: white;


}

/* header related styles */
.header {
    background-color: rgb(223, 214, 204);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;


}
.banner{
     padding: 30px 30px 0px 150px  ;
     display: flex;
     align-items: center;
     justify-content: ;
}
.banner-content{
    max-width: 585px;
}
.banner .pro-pic{
    width: 500px;
}
.banner-greetings{
    font-size: 40px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    color: #474747;
    margin-top: 5px;
    padding-bottom: 0px;

}
.ban-des{
   margin-bottom: 200px;
}

   